@import './base.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './custom-fonts.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: white;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 174, 255);
  transition: 0.4s;
  padding: 3px;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    background-color: rgb(255, 255, 255);
  }
}

@media (min-width: 120px) { /* Corrigido o parêntese de fechamento */
  body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Adiciona altura para permitir a centralização vertical */
    background-color: #ffffff;
  }

  #app {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

}
